--install.check-files true
--install.flat true
--install.ignore-scripts false
--install.ignore-engines true
--install.ignore-optional true
--resolution.nth-check "^2.0.1"
--resolution.postcss "^8.4.31" 